body {
	background: #9c93a7;
	padding: 10px;
}

.table {
	background: white;
}

.btn-primary {
	background: #471e6f;
	border-color: #471e6f;
}
.btn-primary.disabled{
	background: #8160A3;
	border-color: #8160A3;
}

.dl-horizontal dd:after,.dl-horizontal dd:before {
    content: " ";
    display: table
}

.dl-horizontal dd:after {
    clear: both
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float:left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .dl-horizontal dd {
        margin-left: 180px
    }

    .container {
        width: 750px
    }
}

.select-group .group {
    font-weight: bold;
}
    
.select-group :not(.group) {
    padding-left: 15px;
}